spring:
  datasource:
    url: jdbc:mysql://${MYSQLHOST}:${MYSQLPORT}/${MYSQLDATABASE}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: ${MYSQLUSER}
    password: ${MYSQLPASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect


  
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
#            redirect-uri: "{baseUrl}/api/auth/oauth2/callback/{registrationId}"
            redirect-uri: ${redirect_baseUrl}

app:
  jwt:
    secret: ${JWT_SECRET}
    expiration: 86400000 # 24 hours in milliseconds
  
  cors:
    allowed-origins: http://localhost:5173,http://localhost:3000,http://localhost:8081,https://devcourses-frontend.netlify.app/
  
  oauth2:
    redirect-uri: https://devcourses-frontend.netlify.app/auth/callback

  frontend-url: https://devcourses-frontend.netlify.app/

stripe:
  secret-key: ${STRIPE_SECRET_KEY}


